# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build output
/build/

# Ignore environment-specific files
.env

# Ignore npm's debugging log file
npm-debug.log*

# Ignore yarn lock file
yarn.lock

# Ignore Visual Studio Code settings
.vscode/
